@use "./animations.scss";

$primary-color: #1682f4;
$secondary-color: #a4ccfc;
$tertiary-color: #ccdcec;

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  & header {
    height: 64px;
  }
  & main {
    height: calc(100vh - 64px);
    overflow-y: auto;
  }

  @media (max-width: 600px) {
    grid-template-rows: 1fr;
    & header {
      height: 80px;
    }
    & main {
      height: calc(100vh - 80px);
    }
  }
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-tertiary {
  color: $tertiary-color;
}

.border-primary {
  border-color: $primary-color;
}

.bg-transparent {
  background-color: transparent !important;
}



